*{
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(219, 211, 211);
}

/* medida hasta 605px para celular (mobile first) */
/* Falta modificar el navegador con JS para mobile */
body{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .nav, .main, .aside, .footer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    background: #141414;
    background: linear-gradient(0deg, #141414 0%, #F16A06 100%);
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.nav{
    display: flex;
    justify-content: center;
    background: #141414;
    border-bottom: 2px groove  #F16A06;
    width:94,2%
}

.main{
    background: #1a1a1a;
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.aside{
    background: #141414;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer{
    background: #F16A06;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header__imagen-2{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    clip-path: circle(50% at 50% 50%);
    transition: transform 1s;
}

.header__titulo{
    font-family: 'Red Hat Mono', monospace;
    font-family: 'Rubik', sans-serif;
    font-family: 'Square Peg', cursive; 
    font-size: 2em;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    transition: transform 1s;
}

.header__titulo:hover{
    transform: scale(150% , 150%);
}

.header__imagen-2:hover{
    transform: scale(150% , 150%);
}

.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}


.nav__li{
    display: inline-block;
    flex-grow: 1;
    padding: 10px;
    margin: 5px;
    max-width: 100px;
    border: 1px solid #F16A06;
    background-color: #F16A06;
    text-align: center;
}

.nav__li>a{
    text-decoration: none;
    color: #1a1a1a;
    font-family: 'Libre Baskerville', serif;
}

.nav__li:hover{
    background-color: #1a1a1a;
    color:rgb(219, 211, 211)
}

.nav__li:hover > a{
    background-color: #1a1a1a;
    color:rgb(219, 211, 211)
}

.main>p{
    padding: 5px;
    margin-top: 60px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

.aside>p{
    padding: 5px;
    margin: auto;
}


.footer>p{
    padding: 3px;
}

.footer__container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.footer__container-titulo{
    margin-right: 5px;
}

.footer__container-links{
    margin-left: 5px;
}



                                   /* para cambiar las cosas de los links con pauchi */
/* li>a{

}

li>a:link{
    color: ;
}

li>a:visited{
    color: ;
}

.footer__container-links>a{

}

.footer__container-links>a:link{
    color: ;
}

.footer__container-links>a:visited{
    color: ;
} */



/* medida de 605px a 900px para tablets */
/* acá mantiene la estructura del celular sin el menú desplegable */
@media screen and (min-width: 605px){
    .content{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .header, .nav, .main, .aside, .footer{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header{
    background: #141414;
    background: linear-gradient(0deg, #141414 0%, #F16A06 100%);
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    }
    
    .nav{
        display: flex;
        justify-content: center;
        background: #141414;
        border-bottom: 2px groove  #F16A06;
        width:94,2%
    }



    .header__imagen-2{
        width: 50px;
        height: 50px;
        margin-left: 50px;
        clip-path: circle(50% at 50% 50%);
    }
    
    .header__titulo{
        font-family: 'Red Hat Mono', monospace;
        font-family: 'Rubik', sans-serif;
        font-family: 'Square Peg', cursive; 
        font-size: 2em;
        letter-spacing: 10px;
        color: rgb(255, 255, 255);
        transition: transform 1s;
    }
    
    .header__titulo:hover{
        transform: scale(150% , 150%);
        
    }
    
    .nav__ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    
    
    .nav__li{
        display: inline-block;
        flex-grow: 1;
        padding: 10px;
        margin: 5px;
        max-width: 100px;
        border: 1px solid #F16A06;
        background-color: #F16A06;
        text-align: center;
    }
    
    .nav__li>a{
        text-decoration: none;
        color: #1a1a1a;
    }
    
    .nav__li:hover{
        background-color: #1a1a1a;
        color:rgb(219, 211, 211)
    }
    
    .nav__li:hover > a{
        background-color: #1a1a1a;
        color:rgb(219, 211, 211)
    }
}
















/* medida a partir de 900px para escritorio */
@media screen and (min-width: 900px){
    
    body{
        margin: 0;
    }

    .content{
        display: grid;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
    }

    .header{
        grid-area: header;
    }
    .nav{
        grid-area: nav;
        display: grid;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main{
        grid-area: main;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .aside{
        grid-area: aside;
        justify-content: flex-start;
    }


    .footer{
        grid-area: footer;
        justify-content: flex-end;
    }

    .nav__ul{
        margin: auto;
    }
    
    
    .aside>p{
        margin: 4px;
    }

    .main>p{
        margin: 4px;
        margin-bottom: 40px;
    }



}